.sidebar-admin { width: 256px; background-color: #006C6A; display: flex;  flex-direction: column; position: absolute;  top: 0px;
    position: fixed; bottom: 0; left: 0; justify-content: flex-start; align-items: center;

    svg.injected-svg { width: 120px !important }

}